.home {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 20fr;
}

.home-grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
}

.title-container {
  margin-bottom: 100px; /* hacky but works */
  text-align: center;
  place-self: center;
}

.title-text {
  padding-bottom: 50px;
  font-size: 100px;
  font-weight: 200;
}

.subtitle-text {
  font-size: 20px;
  font-weight: 500;
}

.img-container {
  place-self: center;
}