nav.navigation {
  padding: 20px;
  list-style-type: none;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.company-name {
  font-weight: 600;
  align-self: center;
}

ul.buttons-list {
  justify-self: end;
  padding-right: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  transition: 0.5s;
}

ul.buttons-list li {
  list-style-type: none;
  justify-self: end;
  display: grid;
  align-content: center;
}

ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

img.view-cart-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}